<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Personal Website</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
<body>
    <nav class = "navbar navbar-expand-lg" style = "background-color: rgba(213, 212, 209, 0.42);">
    <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../views/home.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../views/projects.html">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../views/hobbies.html">Hobbies</a>
        </li>
        </ul>
         <a class="navbar-brand" href="#">
        <img src = "../resources/img/funnyIcon.png" alt="Bootstrap" width="30" height="24">
        </a>
        </div>
    </div>
    </nav>
    <br>
    <div class = "container">
        <div class = "row" >
            <div class = "col-md-5">
                 <img 
                 src = "../resources/img/picOfMe.png" 
                 style = "width: 100%; height: 100%"
                 />
            </div>
            <div class = "col-md-7">
                <div class="card" style="max-width: 100%; min-height: 100%; background-color: rgba(255, 194, 113, 0.723);">
                    <div class="card-body">
                        <h5 class="card-title">Linley Denslow</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">CS Undergrad at CU Boulder</h6>
                        <p class="card-text">I am a softmore at CU Boulder. My major is Computer Science, and I am looking into a Business minor. I am originally from Dallas, TX. I am interested in software development and web design. I am a great communicator, dependable, and personable. I am also apart of a fraternity focused on professional and technical development called Kappa Theta Pi, where I serve as secretary. </p>
                      <div class="d-flex justify-content-between">
                        <a href="../views/resume.html" class="card-link">Resume</a>
                        <a href="../resources/Linley_Resume.pdf" target="_blank" download="linley_resume.pdf">
                          <button class="btn btn-primary">Download Resume</button>
                        </a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <!-- Section: Social media -->
    <section class="text-center d-flex justify-content-center justify-content-center p-4 border-bottom">

        <!-- Right -->
        <div>
        <a href="https://www.instagram.com/linleydenslow/" class="me-4 text-reset">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/linley-denslow" class="me-4 text-reset">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/lide4293" class="me-4 text-reset">
            <i class="fab fa-github"></i>
        </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
    </footer>
    <!-- Footer -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>
