<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Personal Website</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
<body>
    <nav class = "navbar navbar-expand-lg" style = "background-color: rgba(213, 212, 209, 0.42);">
    <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../views/home.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../views/projects.html">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../views/hobbies.html">Hobbies</a>
        </li>
        </ul>
         <a class="navbar-brand" href="#">
        <img src = "../resources/img/funnyIcon.png" alt="Bootstrap" width="30" height="24">
        </a>
        </div>
    </div>
    </nav>
    <br>

    <div class="container">
        <h3 style = "text-align: center; font-size: x-large;"> 
        Linley Denslow Resume
        </h3>

        <h6 style = "text-align: center; font-size: small;">
            214-504-6618 | lide4293@colorado.edu | www.linkedin.com/in/linley-denslow | https://github.com/lide4293
        </h6>
        <br>
        <h6>
            EDUCATION
        </h6>
        <hr>
        <div class="d-flex justify-content-between">
            <strong> University of Colorado at Boulder </strong> 
            <span> Boulder, CO </span>
        </div>
        <div class="d-flex justify-content-between">
            <em> Bachelor of Science in Computer Science </em>
            <span> <em> August 2024 - May 2028 </em> </span>
        </div>
        <br>
        <div class="d-flex justify-content-between">
            <strong> Lake Highlands High School </strong> 
            <span> Dallas, TX <br> <em></em> </span>
        </div>
        <div class="d-flex justify-content-between">
            <em> High School Diploma </em>
            <span> <em> August 2024 - May 2028 </em> </span>
        </div>
        <br>
        <h6>
            EXPERIENCE
        </h6>
        <hr>
        <div class="d-flex justify-content-between">
            <strong> Kappa Theta Pi Member </strong> 
            <span> September 2024 - Present </span>
        </div>
        <div class="d-flex justify-content-between">
            <em> University of Colorado at Boulder </em>
            <span> <em> Boulder, CO </em> </span>
        </div>
        <ul>
            <li>Designed and executed a technology-related project with a different group of members/individually each semester.</li>
            <li>Collaborated with members in order to compromise on project aspects and ideas, delegate tasks to meet strict
deadlines, and get diverse perspectives</li>
            <li>Attended chapter meetings where we would learn about internship opportunities and how to best prepare for the
job field</li>
        </ul>
        <div class="d-flex justify-content-between">
            <strong> Mu Alpha Theta Tutor </strong> 
            <span> August 2021 - May 2023 <br> <em></em> </span>
        </div>
        <div class="d-flex justify-content-between">
            <em> Lake Highlands High School </em>
            <span> <em> Dallas, TX </em> </span>
        </div>
        <ul>
            <li>Offered volunteer math tutoring assistance to teachers for Algebra 1, Algebra 2, and Geometry classes.</li>
            <li>Collaborated with rest of Mu Alpha Theta society on how to best implement our services throughout the school.</li>
        </ul>
         <h6>
            PROJECTS
        </h6>
        <hr>
        <div class="d-flex justify-content-between">
            <strong> Kappa Theta Pi Pledge Project | <em> Git, C++, Java, Python, R, HTML/CSS</em> </strong> 
            <span> October 2024 - December 2024 </span>
        </div>
        <ul>
            <li>Developed coding camps that teach Python, C++, Java, and R to college students looking to expand their coding
            knowledge.</li>
            <li>Created a GitHub repository that contains curriculum outlines and presentations, code, website, and a discussion
            section that holds resources and to-dos in order to maximize team collaboration and efficiency.</li>
            <li>Offered flexible times where students that have a desire to learn can attend and retain a basic knowledge of several
            coding languages, as well as learn to apply these skills.</li>
            <li>Designed and published a web-site that gives interested students access to curriculum, sign-ups, and schedule.</li>
            <li>Collaborated with team members in order to get a diverse pool of ideas and compromised on the best way to
            implement them into our project.</li>
        </ul>
        <div class="d-flex justify-content-between">
            <strong> DNA Analysis | <em> VS Code </em></strong> 
            <span> October 2024 </span>
        </div>
        <ul>
            <li>Developed a Menu in VS Code that takes the user input of a DNA strand and allows the user to compare DNA
            strands and assess their similarity, compare two DNA sequences and identify all types of mutations between them,
            transcribe DNA to RNA, compute the reverse complement of a DNA strand, and extracts reading frames.</li>
            <li>Includes error handling in order to check if the user input is a valid DNA strand before executing functions.</li>
            <li>Teaches user about the structure of a DNA strand and how it is modified and read within a cell.</li>
        </ul>
        <div class="d-flex justify-content-between">
            <strong> Lion King Game | <em> VS Code </em> </strong> 
            <span> December 2024 </span>
        </div>
        <ul>
            <li>Developed an interactive, 2-player, Lion-King themed game modeled after the Game of Life for children.</li>
            <li>Includes error handling in order to check if the user input is valid before executing functions.</li>
            <li>Takes users through a journey of living as a lion with a visual board that you can see each player move along. Each
            color tile of the board triggers different events, some randomly generated, that affect the Player's Stamina,
            Wisdom, Strength, and Pride Points. The user with the most Pride points at the end wins the game.</li>
        </ul>
        <h6>
            TECHNICAL SKILLS 
        </h6>
        <hr>
        <div class="text-align">
            <strong>Languages:</strong> Java, C++, JavaScript
            <br>
            <strong>Developer Tools:</strong> Git, VS Code, JupyterHub
        </div>

        </div>
        
            

    </div>
    
    <br>


    <!-- Footer -->
    <footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <!-- Section: Social media -->
    <section class="text-center d-flex justify-content-center justify-content-center p-4 border-bottom">

        <!-- Right -->
        <div>
        <a href="https://www.instagram.com/linleydenslow/" class="me-4 text-reset">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/linley-denslow" class="me-4 text-reset">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/lide4293" class="me-4 text-reset">
            <i class="fab fa-github"></i>
        </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
    </footer>
    <!-- Footer -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>
